[submodule "Mini2DEngine/vendor/GLFW"]
	path = Mini2DEngine/vendor/GLFW
	url = https://github.com/thecherno/glfw
[submodule "Mini2DEngine/vendor/glm"]
	path = Mini2DEngine/vendor/glm
	url = https://github.com/g-truc/glm.git
